{% extends "base.html" %}
{% block content %}
<style>
    .dadosiniciais
    {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    legend{
        font-size: 16px;
        font-weight: bold;
    }
    fieldset {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-indent: 20px;
    }
    #botao{ text-align: center }
.btn btn-success{
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    padding-top: 20px;
    background-color: #070a57;
    font-size: 18px;
}
h3{
    text-align: center;
    padding-top: 20px;
    color:#070a57;
}

h4{
    text-align: center;
    padding-top: 20px;
    color:#070a57;
}
    
</style>
{% load crispy_forms_tags %}
    <h3>Formulários</h3>
  
    <form action="." method="POST" name=form id="formweb" autocomplete="off"><h4>CHECK LIST DE VERIFICAÇÃO PARA PRÉ START UP</h4><br>
{% csrf_token %}
<div class="dadosiniciais">
USINA: {{ form.usina }}
DATA DE INSPEÇÃO: {{ form.datainsp }}
</div>

<h4>RPE</h4>
<fieldset class="sinal" id="sinalizacao"><legend>SINALIZAÇÃO</legend>															
											
	<p> As áreas, vias de acesso, e equipamentos críticos estão sinalizados com placas de advertência/orientativas (espaços confinados, painéis elétricos, desníveis, vasos de pressão, etc...)?*</p>														
               <p>Selecione : {{ form.opcoes }}</p><br/>
              
													
	<p>A sinalização está legível e limpa?*</p>
    <p>Selecione : {{ form.opcoes2 }}</p><br/>
               
	<p>As escadas tipo marinheiro com abertura no mesmo nível do piso (alçapões) estão sinalizadas ou possuem restrição de acesso?</p>
    <p>Selecione : {{ form.opcoes3 }}</p><br/>
   									
															
	<p>As áreas classificadas estão isoladas, sinalizadas e com restrição de entrada?*</p>
    <p>Selecione : {{ form.opcoes4 }}</p><br/>	

<p>As faixas demarcatórias de piso internas e externas do setor (acesso seguro) estão conservadas?*</p>
<p>Selecione : {{ form.opcoes5 }}</p><br/>
  	
<p>Os desníveis de piso estão sinalizados com faixas zebradas?*</p>
<p>Selecione : {{ form.opcoes6 }}</p><br/>
											
															
	<p>Conservação das linhas de vida são suficientes para garantir a segurança durante a atividade. possui ART por Profissional Habilitado?*</p>	
    <p>Selecione : {{ form.opcoes7 }}</p><br/>
    												
															
	<p>Os guarda corpo e corrimões estão em condições operacionais?*</p>
    <p>Selecione : {{ form.opcoes8 }}</p><br/>
   
	</fieldset>														
<fieldset><legend>SISTEMA FIXO DE INCÊNDIO</legend>															
															
															
											
	<p>Reserva de técnica de incêndio esta cheia com capacidade de atuação?*</p>
    <p>Selecione : {{ form.opcoes9 }}</p><br/>
   													
															
	<p>Circuito de tubulações (hidrantes, anel resfriamento e espuma estão bem fixadas e livre quedas de sua estrutura (pipe rack)?*</p>	
    <p>Selecione : {{ form.opcoes10 }}</p><br/>
 												
															
	<p>Todos os manômetros estão calibrados e instalados corretamente?*</p>
    <p>Selecione : {{ form.opcoes11 }}</p><br/>
 													
															
	<p>Sistema de bobeamento foi manutenido e encontra-se em condições de operação?*</p>	
    <p>Selecione : {{ form.opcoes12 }}</p><br/>
   																			
	<p>Foram realizado testes nas bombas de incêndio (jockey, elétrica e combustão)?*</p>
    <p>Selecione : {{ form.opcoes13 }}</p><br/>
   										
															
	<p>As válvulas automaticas do circuito de tubulação foram revisadas em condições de operação?*</p>	
    <p>Selecione : {{ form.opcoes14 }}</p><br/>
  											
															
	<p>Sistema LGE- Liquido Gerador de Espuma encontra-se disponivel e em condições de operações?*</p>
    <p>Selecione : {{ form.opcoes15 }}</p><br/>
    <p>Observação geral : {{ form.observacoes1}}</p>												
																										
</fieldset>															
														
<div id="botao"><button class="btn btn-dark" type="submit" class="btn btn-success">Enviar</button>	</div>												
</form>


{% endblock %}

